# Entorno virtual
virtual/

# Base de datos local
db.sqlite3

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Django
*.log
media/
staticfiles/

# Config/secretos
.env
*.env

# VSCode
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
