/* Fondo del modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

/* Contenedor del contenido */
.modal-content {
  background-color: #caa7d8;
  padding: 2rem;
  border-radius: 15px;
  width: 320px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  animation: showModal 0.3s ease;
}

/* Animación */
@keyframes showModal {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.modal-content h2 {
  color: #4b004b;
  margin-bottom: 15px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.modal-content button {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.modal-content button:hover {
  background-color: #a000eb;
}

.close {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 24px;
  cursor: pointer;
  color: #555;
}
